AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# редирект домена с www на домен без www
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]


# запретить доступ к листингу файлов во всех вложенных директориях
Options All -Indexes
# указать индексным файлом в директории index.php
DirectoryIndex index.php

# не обрабатывать правилами редиректа реально существующие файлы и папки
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php/$1/$2/?value=$3


RewriteCond %{REQUEST_URI} /index.php
RewriteCond %{QUERY_STRING} ^\z
RewriteRule ^(.*)$ http://myblog.loc/? [R=301,L]

# перенаправить все обращения к сайту на файл index.php
RewriteRule ^(.+)$ index.php [L]

</IfModule>